.home {
  width: 80%;
  // height: 500px;
  padding: 50px;
  border-radius: 4px;
  margin: 100px auto 0;
  border: 2px solid #666;

  .home-title {
    font-size: 30px;
    color: #444;
  }

  .home-price-container {
    margin-top: 20px;

    .home-price-item {
      padding: 8px;
      // min-width: 270px;
      border-radius: 4px;
      border: 1px solid #ccc;

      .price-item-title {
        font-size: 24px;
        color: #000000;
        margin-bottom: 0px;
      }
      .price-item-price {
        font-size: 16px;
        color: #f3a02d;
        margin-bottom: 0px;
      }
      .price-item-sub-title {
        font-size: 12px;
        color: #999;
        margin-bottom: 0px;
      }
      .price-item-money {
        font-size: 12px;
        color: #999;
        &.positive {
          color: #c9ec9e;
        }
        &.minus {
          color: #d44045;
        }
      }
    }
  }
}